h4{

  margin-left: 30px;

  margin-top: 20px;
  font-weight: bold;
}

.element__column {

   margin-left: 30px;

  margin-top: 20px;

  background-color: rgb(234, 234, 234);

  width: 200px;

  height: 30px;

  text-align: center;

  font-size: 17px;
}

.mat__button {


  background-color: darkgreen !important;
  color: white !important;

  float: right;

  margin-right: 30px;




}

.mat__button--cancel{

  background-color: rgb(61, 61, 61) !important;
  color: white !important;
  float: right;

  margin-right: 30px;
}

