
<div>



  <mat-form-field appearance="fill">
  <label for="">Precio</label>
  <br>
  <input matInput type="number" step="0.1" [(ngModel)]="passedValues.precio" />
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
  <label for="">Nombre</label>
  <br>
  <input matInput type="text" style="width: 300px;" placeholder="Nombre" [(ngModel)]="passedValues.nombre">
  <br>
</mat-form-field>

  <br>
  <mat-form-field appearance="fill">
  <label for="">Formato</label>
  <br>
  <input matInput type="text" style="width: 300px;" placeholder="Formato" [(ngModel)]="passedValues.formato">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
  <label for="">Marca</label>
  <br>
  <input matInput type="text" style="width: 300px;" placeholder="Marca" [(ngModel)]="passedValues.marca">
</mat-form-field>
  <br>
  <button mat-button  [mat-dialog-close]="true">Cancelar</button>

  <button type="submit" [mat-dialog-close]="passedValues">Guardar</button>


</div>

