
h2{

  margin-top: 20px;

  margin-left: 30px;
}


mat-form-field{

  width: 100%;
}


.field__line{

  width: 550px;
}

.mat__button {


  background-color: darkgreen !important;
  color: white !important;

  margin-top: 10px;

  margin-left: 700px;
}

.mat__button--cancel{

  background-color: rgb(61, 61, 61) !important;
  color: white !important;
}
